

.content {
    display: flex;
    width: 100%;
    height: calc(100vh - 300px);
    background: rgb(236, 234, 234);
    padding: 15px;
    box-sizing: border-box;

    align-items: center;
    overflow: hidden;
}

.all_constants {

    overflow: auto;
    height: 100%;
    li {
        list-style: none;
        display: flex;
        justify-content: space-between;
        transition: .4s;
        margin-bottom: 12px;
        font-size: 18px;
        cursor: pointer;
        color: black;    
        span {
            text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

            &.name {

                width: 250px;
                margin-right: 15px;
            }

            &.val {

                flex-shrink: 0;
                min-width: 100px;
                text-align: center;
            }
        }

        &:hover {
            background: rgba(0, 0, 0, 0.3);
        }

        &.big_size_txt {
            font-size: 24px;
            color: red;
        }
    }
}

.clicker {
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 25px;
}

.get_info {
    margin-left: 45px;
    color: red;
}

.result {
    display: flex;
}